streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
# textract==1.6.5
# extract-msg==0.29.*
langchain_community
reportlab
markdown
pdfplumber==0.10.4
